/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 自定義css */

html,body{
    width: 100%;
	height: 100%;
}

.container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction:row-reverse;
}

.panel{
	width: 20%;
	height: 100%;
}

.dateInfo{
	height: 20%;
	background-color:gray ;
}

.pharmacyList{
	height: 80%;
	overflow:auto;
}

#map{
    width: 80%;
	height: 100%;
	position: relative;
}

.GeoBtn{
	width: 50px;
	position: absolute;
	top: 80px;
	left: 21%;
	z-index: 999;
}

.gray{
	background-color: gray;
	padding: 10px;
}

    .marker-cluster-small {
		background-color: rgba(181, 226, 140, 0.6);
		}
	.marker-cluster-small div {
		background-color: rgba(110, 204, 57, 0.6);
		}

	.marker-cluster-medium {
		background-color: rgba(241, 211, 87, 0.6);
		}
	.marker-cluster-medium div {
		background-color: rgba(240, 194, 12, 0.6);
		}

	.marker-cluster-large {
		background-color: rgba(253, 156, 115, 0.6);
		}
	.marker-cluster-large div {
		background-color: rgba(241, 128, 23, 0.6);
		}

	.marker-cluster {
		background-clip: padding-box;
		border-radius: 20px;
		}
	.marker-cluster div {
		width: 30px;
		height: 30px;
		margin-left: 5px;
		margin-top: 5px;

		text-align: center;
		border-radius: 15px;
		font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
		}
	.marker-cluster span {
		line-height: 30px;
		}