/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 自定義css */

html,body{
    width: 100%;
	height: 100%;
}

.container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction:row-reverse;
}

.panel{
	width: 25%;
	height: 100%;
}

.panelTop{
	height: 20%;
	background-color:#73C0D8 ;
}

.info{
	display: flex;
	justify-content: center;
}

.idNumOdd, .idNumEven, .idNumAll{
	color: white;
	font-size: 8pt;
	text-align: justify;
	display: none;
}

.idNumOdd span, .idNumEven span{
	color: #FFF126;
	font-size: 16pt;
	font-weight: 900;
}

.idNumAll span{
	color: #FFF126;
	font-size: 13pt;
	font-weight: 900;
}
.pharmacyList{
	height: 75%;
	overflow:auto;
}

.pharmacyList ul{
	padding:10px 0 8px 0;
	display: flex;
	justify-content: center;
}


.panelMaskNum{
	padding: 20px 0 10px 0; 
}

#map{
    width: 80%;
	height: 100%;
	position: relative;
}

.GeoBtn{
	width: 50px;
	position: absolute;
	top: 80px;
	left: 380px;
	z-index: 999;
}

.gray{
	background-color: gray;
	padding: 10px;
	border-radius: 50px;
	display: inline-block;
	width: 150px;
	text-align: center;
}

    .marker-cluster-small {
		background-color: rgba(181, 226, 140, 0.6);
		}
	.marker-cluster-small div {
		background-color: rgba(110, 204, 57, 0.6);
		}

	.marker-cluster-medium {
		background-color: rgba(241, 211, 87, 0.6);
		}
	.marker-cluster-medium div {
		background-color: rgba(240, 194, 12, 0.6);
		}

	.marker-cluster-large {
		background-color: rgba(253, 156, 115, 0.6);
		}
	.marker-cluster-large div {
		background-color: rgba(241, 128, 23, 0.6);
		}

	.marker-cluster {
		background-clip: padding-box;
		border-radius: 20px;
		}
	.marker-cluster div {
		width: 30px;
		height: 30px;
		margin-left: 5px;
		margin-top: 5px;

		text-align: center;
		border-radius: 15px;
		font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
		}
	.marker-cluster span {
		line-height: 30px;
		}